* img {
    width: 100px;
    height: 100px;
    display: inline;
    margin: auto;
    width: auto;
}

.image-cropper {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 90%;
}

body {
    background-color: #b2dcf8;
}

h1 {
    color: #66bfbf;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 25%;
}